footer
{
    vertical-align: bottom;
    background: white;
    margin-top: 15%;
    border-radius: 7px;
    padding: 2%;

}

footer p
{
    display: inline-block;

}

footer p:hover
{
    color: blue;
}