
#head1 div{
    display: inline-block;
	width: 7px;
	height: 7px; 
	border-radius: 50% 50%;
	background-color: green;
    margin-right: 2px;
}
#head1 p{
    display: inline-block;
    text-decoration: underline;
}
#head2
{
    padding: 2%;
    display: flex;
    background: rgb(255,223,202);
    justify-content: space-between;
    border-radius: 7px;
    margin-bottom: 2%;
}

#logo
{
    width: 127px;
    height: 127px;
}