#head1{
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 1%;
}
#head1 div{
    display: inline-block;
	width: 7px;
	height: 7px; 
	border-radius: 50% 50%;
	background-color: green;
    margin-right: 2px;
}
#head1 a{
    display: inline-block;
    text-decoration: underline;
    color: black;
}
#head2
{
    padding: 2%;
    display: flex;
    background: rgb(82, 82, 82);
    justify-content: space-between;
    border-radius: 7px;
    margin-bottom: 2%;
}

#logo
{
    width: 9%;
    height: 9%;
}

/* pour le bouton déconnecter, voir footer.css*/