#accueil{
	margin: auto;
	text-align: center;

}

#accueil div{
	display: inline-block;
	width: 400px;
	height: 400px;
	background: rgb(195,195,195);
	font-size: 2em;
	-webkit-transition: width 1s;
	transition: width 1s;
}

#accueil div p{
	margin: auto;
	font-style: italic;
}
.aContentReceived, .aContentSent {
	height: 0;
	width: 60%;
	overflow-y: hidden;
	text-align: justify;

}
.aMessageReceived, .aMessageSent{
	display: flex;
	justify-content: space-between;
	margin-bottom: 2%;
	padding: 1%;
	background-color: rgb(215,215,215);
	cursor: pointer;
	transition: 200ms;
}

.aMessageReceived:hover, .aMessageReceived:active, .aMessageReceived:focus, .aMessageSent:hover, .aMessageSent:active, .aMessageSent:focus{
	background-color: #C0C0C0;
}

body {
	position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    height: 100%;
    margin:0;
    padding:0;
    background-size: 100% ;
    width:100%;  
    color:black;
}
body:before {
        content: "";
        position: fixed;
        height: 100%; width: 100%;
        background: url("../../Public/Assets/Images/sweetomHouseImage4.png");
        background-size: cover;
        z-index: -1; /* Keep the background behind the content */     
        -webkit-filter: blur(4px);
        background-size: 100%; 
    }

button {
	background-color: #333333;
	border: 2px solid #333333;
	border-radius: 27px;
	color: white;
	cursor: pointer;
	font-size: 20px;
	margin-top: 20px;
	padding: 15px 30px;
	text-transform: uppercase;
	transition: all 200ms;
}

button:hover, button:focus {
	background-color: white;
	color: #333333;
	outline: 0;
}
.capteurInfoByType{
	background-color: rgba(255, 228, 196, 0.8);
	display: inline-flex;
	margin-bottom: 3%;
	width: 70%;

}
.capteurInfoByType div{
	padding: 4% 4%;
}
.capteurType{
 	display: none;
 	width: 90%;
 	margin: auto;
}
#catalog{
    display: flex;
}
.corps{
	padding: 20px;
	background: white;
}
#corpsMessenger{
	display: flex;
}

.centrer{
	text-align: center;
}
#cgu{
	text-align: justify;
	width: 85%;
	margin: auto;
	background-color: rgba(227,227,227, 0.7);
	padding: 3%;
}
#creationNewUser{
	width: 60%;
	margin: auto;
	background-color: rgba(227,227,227, 0.8);
	box-shadow: 0 8px 6px -6px black;
	padding: 4%;
}
#creationNewUser label input{
	width: 70%;
}
.boutonSubmit{
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 5px 30px;
	background-color: grey;
	border: 1px solid black;
	border-radius: 27px;
}
.boutonSubmit:hover, .boutonSubmit:focus{
	background-color: #87CEFA;/*#1E90FF;*/
}
.boutonSubmit:active{
	background-color: #98CEFB;
	font-size: 0.75em; 
}

.corpsHouseInfo, .corpsHouseInfo, .corpsSignIn, #corpsLoadUser{
	padding: 20px;
	
}

#closeDashboard{
	text-align: right;
}
#closeDashboard a{
	display: inline-block;
	color: white;
	text-decoration: none;
	width : 10%;
	font-size: 2em;
	margin-right: 2%;

}
#corpsChambre, #corpsToilette, #corpsSejour{
	margin-bottom: 50px;
	text-align: center;
}
#corpsChambre p, #corpsToilette p, #corpsSejour p{
	text-align: center;
}

#deconnexion{
	display: block;	
}

#domisepFunction{
	width: 60%;
	margin: auto;
	background: white;
}

#domisepFunction a{
	display: block;
	font-size: 1.6em;
	font-style: italic;
	margin-bottom: 8px;
	padding: 15px;
	text-decoration: none;
	color: rgb(0,0,0);
}
#domisepFunction a:hover{
	text-decoration: underline;
	background: #DFF2FF;
	font-size: 1.6em;
	font-weight: bold;
}
#domisepInfo{
	background-color: rgba(227,227,227, 0.7);
	width: 60%;
	margin: auto;
	box-shadow: 0 8px 6px -6px black;
	padding: 4%
}
#domisepInfo div{
	margin-bottom: 3%;
}
#editDomisepProfil{
	display: none;
	width: 60%;
	margin: auto;
	background-color: #C0C0C0;
	box-shadow: 0 8px 6px -6px black;
	
}
#editDomisepProfilHead, #newSensorFormHead{
	text-align: center;
	padding: 3% 0;
	background-color: rgba(230, 126, 48, 0.8);
	font-size: 1.3em;
	
}

#editDomisepProfil label input{	
	width: 50%;
}

#editProfil,#tabDeBord{
	display: inline-block;
	font-style: italic;
	text-decoration: none;
	-webkit-transition: width 1s;
	transition: width 1s;
	color: black;
	font-size: 2em;
	width: 400px;
	height: 400px;
}


#editProfil{
	border-radius: 0 9px 9px 0;
}

#editProfil:hover
{
	width: 500px;
	background: url("/Public/Assets/Images/edit_profil4.png") no-repeat;
	text-decoration: underline;
}
.element_catalog:nth-child(2)
{
	padding: 5px 5px 5px 5px;
	/*border:1px solid black;*/

}
.error{
	padding: 3%;
	background-color: red;
	margin-bottom: 2%;

}

#errorBlock{
	width: 60%;
	display: flex;
	margin: auto;
	background-color: white;
	min-height: 150px;
	box-shadow: 0 8px 6px -6px black;

}
#errorText{
	margin-left: 3%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.formBody{
	padding: 1% 3%;

}
#form_catalog
{
	display: flex;
	justify-content: center;


}
.formFoot{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#formInscription{
	width: 70%;
	margin: auto;
	background: white;
	border-radius: 20px;
	opacity: 0.9;

}

#formInscription label input{
	width: 70%;
	height: 20px;
}
.goBack{
	text-align: center;
	cursor: pointer;
	background-color: rgb(0,120,240) ;
	width: 13%;
	padding: 1%;
	transition: 200ms;
	border-radius: 6%;
	font-size: 0.8em;
}
.goBack:hover, .goBack:focus, .goBack:active{
	background-color: rgb(30,144,255)  
}
#hbt{
 	display: flex;
 	justify-content: space-around;
 	flex-wrap: wrap;
 
}
.imageCatalog{
	width: 200px;
	height: 200px;
}
.inputSendMessage{
	display: block;
	margin-bottom: 2%;
}
.label_form
{
    display: block;
    letter-spacing: 4px;
    padding-top: 30px;
    text-align: center;
}

.label_form .label-text
{
    color: black;
    cursor: text;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    -webkit-transform: translateY(-34px);
    -moz-transform: translateY(-34px);
    -ms-transform: translateY(-34px);
    -o-transform: translateY(-34px);
    transform: translateY(-34px);
    transition: all 0.3s;
}

.label_form input
{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #4A4A4A;
    color: black;
    font-size: 36px;
    letter-spacing: -1px;
    outline: 0;
    padding: 5px 20px;
    text-align: center;
    transition: all 0.3s;
    width: 200px;
}

.label_form input:focus
{
    width: 400px;
}

.label_form input:focus + .label-text
{
    color: black;
    font-size: 13px;
    -webkit-transform: translateY(-74px);
    -moz-transform: translateY(-74px);
    -ms-transform: translateY(-74px);
    -o-transform: translateY(-74px);
    transform: translateY(-74px);

}

.label_form input.isNotEmpty + .label-text {
    font-size: 13px;
    -webkit-transform: translateY(-74px);
    -moz-transform: translateY(-74px);
    -ms-transform: translateY(-74px);
    -o-transform: translateY(-74px);
    transform: translateY(-74px);
    
}

#logo
{
	width: 127px;
	height: 127px;
}

#listSensorss{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#message{
	word-wrap: break-word;
	overflow: auto;
}
#menu{
	margin-bottom: 3%;
	cursor: pointer;
	display: inline-block;
	margin-left: 0.8%;
}
#menu div{
	width: 20px;
	height: 5px;
	margin: 4px 0;
	background-color: black;
}
#menuMessage
{
	vertical-align: top;
	width: 20%;
	background: rgba(227,227,227, 0.7);
	margin-right: 5%;
	min-height: 500px;
}

#menuMessage p
{
	padding: 2%;
	transition : 250ms;
	cursor: pointer;
}

#menuMessage p:hover,#menuMessage p:active,#menuMessage p:focus{
	padding-left: 14%;
	background: rgb(200,200,200);
	border-left: 1px solid black;
}

#menuMessage div
{
	height: 3px;
	background: rgb(97,97,97);

}
.menuType {
	display: flex;
	flex-direction: column;
	width: 30%;
	transition: 0.3s;
	margin-right: 3%;
	height: 500px;
	background: rgba(157,157,157, 0.7);
}


.myBody{
	min-height: 500px;
}

#myDashboard{
	color: white;
	height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,16,0.9);
    overflow-x: hidden;
    transition: 250ms;
    display: flex;
	flex-direction: column;


}
.myDashboardFunction{
	border-bottom: 1px solid white;
	text-decoration: none;
	color: white;
	font-size: 1.3em;
	transition: 200ms;
	padding: 2%;
}
.myDashboardFunction:hover, .myDashboardFunction:focus, .myDashboardFunction:active{
	padding-left: 10%;
	background: white;
	color: black;
}
.mySlide{
	display: none;
}
#navUser
{
	display: flex;
	padding: 15px;
	justify-content: space-between;
	background: red;
}

#navUser a
{
	display: block;
 	text-decoration: none;
 	color: black;
}
#newSensor{
	width: 60%;
	margin: auto;	
}
#newSensorFormBody{
	display: flex;
	flex-direction: column;
	background-color: rgba(227,227,227, 0.8);
	box-shadow: 0 8px 6px -6px black;
	padding: 4% 4%;
}
#newSensorForm label input{
	width: 70%;
	height: 25px;
}

.next, .back{
	cursor: pointer;
	padding: 1%;
	background-color: rgb(230,230,230);
	margin-right: 2%;
	border-radius: 5px;
	transition: 200ms;
}
.next:hover, .next:active, .next:focus, .back:hover, .back:active, .back:focus{
	background-color: rgb(160,160,160);
}
#navUser a:hover
{
  	text-decoration: underline;
}
.renamingForm{
	display: flex;
	flex-direction: column;
}
.inputForm{
	width: 60%
}
.renamingForm label{
	margin-bottom: 2%;
}
#roomRenaming, #toiletRenaming, #livingRoomRenaming,#connectedRoom{
	width: 50%;
	margin: auto;
	box-shadow: 0 8px 6px -6px black;
	background-color: #C0C0C0;
	padding: 2%;
}

.send{
	display: flex;
	flex-direction: row-reverse;
	margin-top: 5%;
}
.sendData{
	width: 15%;

}
.sensor{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
}
.sensor select{
	width: 30%;
}


#submit_catalog
{
	text-align: center;

}

#teteForm
{
	height: 15px;
	background: rgb(0,0,91);
	border-radius: 20px 20px 0 0;
}

#tabDeBord{

	border-radius: 9px 0 0 9px;
}


#tabDeBord:hover{
	width: 500px;
	background: url("/Public/Assets/Images/tab_de_bord2.jpg") no-repeat;
	text-decoration: underline;
}
.typeLinks {
	float: left;
	padding: 3%;
	border: 1px solid #ccc;
	border-left: none;
	cursor: pointer;
	transition: 200ms;

	
}
.typeLinks:hover, .typeLinks:focus{
	padding-left: 14%;
	background: rgb(200,200,200);
	border-left: 1px solid black;
}
#typeMessage
{
	padding: 20px;
	width: 70%;
	background-color: white;
}

.pieceChambre,.pieceToilette,.pieceSejour
{
	display: inline-block;
	margin-right: 10px;
	width: 250px;
	text-align: left;
}

.wrapper
{
	display: flex;
	flex-wrap: wrap;
	background: url('/Public/Assets/Images/sweetomHouseImage4.png') 100% 100%;
	text-align: center;
	width: 100%;
	height: 100vh;
}

.wrapper-left
{
	text-transform: uppercase;
	color: black;
	box-sizing: border-box;
	width: 50%;
	height: 100vh;
	transition: all 0.5s;
}

.wrapper-left h2
{
	padding-top: 5%;
}

.wrapper-left:hover
{
	background-color: rgba(241, 196, 15, 0.5);
}

.wrapper-right
{
	text-transform: uppercase;
	color: black;
	box-sizing: border-box;
	width: 50%;
	height: 100vh;
	transition: all 0.5s;
}

.wrapper-right h2
{
	padding-top: 5%;
}

.wrapper-right:hover
{
	background-color: rgba(231, 76, 60, 0.5);
}

/*@media screen and (max-width: 1024px){
	body{
		font-size: 0.8em;
	}
	header{
		padding: 20px;
		display: flex;
		background: rgb(255,223,202);
		justify-content: space-between;
		border-radius: 7px;
		margin-bottom: 16px;
	}
	}
	#logo{
		width: 50px;
		height: 50px;
	}
}*/
