#accueil{
	margin: auto;
	text-align: center;

}

#accueil div{
	display: inline-block;
	width: 400px;
	height: 400px;
	background: rgb(195,195,195);
	font-size: 2em;
	-webkit-transition: width 1s;
	transition: width 1s;
}

#accueil div p{
	margin: auto;
	font-style: italic;
}

body{
	background-color: rgb(230,230,230);
}

button {
	background-color: #333333;
	border: 2px solid #333333;
	border-radius: 27px;
	color: white;
	cursor: pointer;
	font-size: 20px;
	margin-top: 20px;
	padding: 15px 30px;
	text-transform: uppercase;
	transition: all 200ms;
}

button:hover, button:focus {
	background-color: white;
	color: #333333;
	outline: 0;
}

.corps{
	padding: 20px;
	background: white;
}

.centrer{
	text-align: center;
}
.boutonSubmit{
	margin-bottom: 20px;
	margin-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid black;
	border-radius: 20px;
}
.boutonSubmit:hover,active{
	background: rgb(0,128,183);
	font-weight: bold;
}
.corpsHouseInfo, .corpsSignIn, #corpsLoadUser{
	background: url("/Public/Assets/Images/sweetomHouseImage4.png")  no-repeat;
	background-size: 100%;
	padding: 20px;
}

#corpsChambre, #corpsToilette, #corpsSejour{
	margin-bottom: 50px;
	text-align: center;
}
#corpsChambre p, #corpsToilette p, #corpsSejour p{
	text-align: center;
}

#deconnexion{
	display: block;	
}

#domisepFunction{
	width: 60%;
	margin: auto;
	background: white;
}

#domisepFunction a{
	display: block;
	font-size: 1.6em;
	font-style: italic;
	margin-bottom: 8px;
	padding: 15px;
	text-decoration: none;
	color: rgb(0,0,0);
}
#domisepFunction a:hover{
	text-decoration: underline;
	background: rgb(235,235,235);
	font-size: 1.8em;
	font-weight: bold;
}

#editDomisepInfo 
{	display: flex;
	justify-content: space-around;
}

#editProfil,#tabDeBord{
	display: inline-block;
	font-style: italic;
	text-decoration: none;
	-webkit-transition: width 1s;
	transition: width 1s;
	color: black;
	font-size: 2em;
	width: 400px;
	height: 400px;
}

#editProfil{
	border-radius: 0 9px 9px 0;
}

#editProfil:hover
{
	width: 500px;
	background: url("/Public/Assets/Images/edit_profil4.png") no-repeat;
	text-decoration: underline;
}
.formFoot{
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer
{
	vertical-align: bottom;
	background: white;
	margin-top: 16px;
	border-radius: 7px;
	padding: 4px;

}

footer p
{
	display: inline-block;

}

footer p:hover
{
	color: blue;
}

#formInscription
{
	width: 70%;
	margin: auto;
	background: white;
	border-radius: 20px;
	opacity: 0.9;

}

header
{
	padding: 20px;
	display: flex;
	background: rgb(255,223,202);
	justify-content: space-between;
	border-radius: 7px;
	margin-bottom: 16px;
}
 #hbt{
 	display: flex;
 	justify-content: space-around;
 	flex-wrap: wrap;
 
 }
  #hbt label{

  }

.info
{
	width: 60%;
	display: flex;
	justify-content: space-between;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;


}

.info input{
	background: grey;
	color: black;
	font-weight: bold;
}

.label_form
{
    display: block;
    letter-spacing: 4px;
    padding-top: 30px;
    text-align: center;
}

.label_form .label-text
{
    color: black;
    cursor: text;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    -webkit-transform: translateY(-34px);
    -moz-transform: translateY(-34px);
    -ms-transform: translateY(-34px);
    -o-transform: translateY(-34px);
    transform: translateY(-34px);
    transition: all 0.3s;
}

.label_form input
{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #4A4A4A;
    color: black;
    font-size: 36px;
    letter-spacing: -1px;
    outline: 0;
    padding: 5px 20px;
    text-align: center;
    transition: all 0.3s;
    width: 200px;
}

.label_form input:focus
{
    width: 400px;
}

.label_form input:focus + .label-text
{
    color: black;
    font-size: 13px;
    -webkit-transform: translateY(-74px);
    -moz-transform: translateY(-74px);
    -ms-transform: translateY(-74px);
    -o-transform: translateY(-74px);
    transform: translateY(-74px);

}

.label_form input.isNotEmpty + .label-text {
    font-size: 13px;
    -webkit-transform: translateY(-74px);
    -moz-transform: translateY(-74px);
    -ms-transform: translateY(-74px);
    -o-transform: translateY(-74px);
    transform: translateY(-74px);
    
}

#logo
{
	width: 127px;
	height: 127px;
}

#message
{
	word-wrap: break-word;
	overflow: auto;
}

#menuMessage
{
	vertical-align: top;
	width: 15%;
}

#menuMessage a
{
	display: block;
	text-decoration: none;
	color: black;
}

#menuMessage a:hover,active,focus
{
	text-decoration: underline;
	background: rgb(176,176,176);
	font-size: 1.2em;
	font-weight: bold;
}

#menuMessage div
{
	height: 3px;
	background: red;
}

#menuMessage, #typeMessage
{
	display: inline-block;
}

#navUser
{
	background: red;
	padding: 15px;
}

#navUser a
{
	display: inline-block;
 	text-decoration: none;
 	color: black;
}

#navUser a:hover
{
  	text-decoration: underline;
}

#teteForm
{
	height: 15px;
	background: rgb(0,0,91);
	border-radius: 20px 20px 0 0;
}

#tabDeBord{

	border-radius: 9px 0 0 9px;
}


#tabDeBord:hover{
	width: 500px;
	background: url("/Public/Assets/Images/tab_de_bord2.jpg") no-repeat;
	text-decoration: underline;
}

#typeMessage
{
	padding: 20px;
	margin-left: 100px;
}

.pieceChambre,.pieceToilette,.pieceSejour
{
	display: inline-block;
	margin-right: 10px;
	width: 250px;
	text-align: left;
}

.wrapper
{
	background: url('/Public/Assets/Images/sweetomHouseImage4.png');
	background: 100%;
	text-align: center;
	width: 100%;
	height: 100vh;
}

.wrapper-left
{
	text-transform: uppercase;
	color: black;
	box-sizing: border-box;
	width: 50%;
	float: left;
	height: 100vh;
	transition: all 0.5s;
}

.wrapper-left h2
{
	padding-top: 5%;
}

.wrapper-left:hover
{
	background-color: rgba(241, 196, 15, 0.5);
}

.wrapper-right
{
	text-transform: uppercase;
	color: black;
	box-sizing: border-box;
	width: 50%;
	float: right;
	height: 100vh;
	transition: all 0.5s;
}

.wrapper-right h2
{
	padding-top: 5%;
}

.wrapper-right:hover
{
	background-color: rgba(231, 76, 60, 0.5);
}